.home {
  visibility: hidden;
}

.home > * {
  visibility: visible;
}

.home > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.home:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}

.home > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}
